.admin-interface{
    margin: auto;
    margin-top: 15%;
    width: 20%;
    border: 5px;
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(56, 56, 56);
}

.title{
    font-size: 48px;
    text-align: center;
    text-shadow: 0px 0px 5px grey;
}

.command{
    font-size: 36px;
    text-align: center;
}

.inputs{
    border-radius: 4px;
    padding:12px 20px;
    width: 100%;
}

.inputs, select{
    border-radius: 4px;
    padding:12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.submit{
    width: 100%;
    background-color: #4CAF50;
    transition-duration: 0.1s;
}

.submit:hover{
    background-color: #19801f;
}


























