.admin-interface{
    margin: auto;
    margin-top: 15%;
    width: 20%;
    border: 5px;
    padding: 10px;
    background-color: red;
}

.title{
    font-size: 24px;
}

.command{
    font-size: 20px;
}

.inputs{
    border-radius: 8px;
    width: 100%;
}

.inputs, select{
    border-radius: 8px;
    width: 100%;
    border: 1px solid #ccc;
}