.admin-interface{
    margin: auto;
    margin-top: 10%;
    width: 20%;
    border: 5px;
    border-radius: 4px;
    padding: 10px;
    background-color: #D5D5D5;
}

.user-info{
    border: 5px;
    border-radius: 4px;
    padding: 12px;
    width: 96%;
    height: 24px;
    background-color: white;
}

.button-default{
    border: black;
    border-width: 1px;
    border-radius: 4px;
    padding: 12px;
    text-decoration: none;
    height: 32px;
}

.user-active{
    width: 49%;
}

.activity{
    width: 49%;
}