.admin-interface{
    margin: auto;
    margin-top: 5%;
    width: 20%;
    border: 5px;
    border-radius: 4px;
    padding: 10px;
    background-color: #D5D5D5;
}

.title{
    font-size: 48px;
    text-align: center;
    text-shadow: 0px 0px 5px grey;
}

.user-info{
    border: 5px;
    border-radius: 4px;
    padding: 12px;
    width: 96%;
    height: 48px;
    background-color: white;
}

.user-active{

}

.activity{

}