
/* This is where the two main boxes are created */

.add-calendar {
  float: right;
  margin-right: 13px;
  margin-top: 18px;
}

.calendar-main {
  float: left;
  margin-left: 19px;
  margin-top: 18px;
}

/* Credit to zellwk.com 2019 for the calendar grid */
/* This is the styles for the main calendar grid and the grid itself */

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 125%;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
}

body {
  min-height: 100vh;
  background: #000000;
}

main {
  max-width: max-content;
  margin: 3em auto 0 auto;
  padding: 1.5em;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 8px;
}

// For the month
.month-indicator {
  color: #000000;
  text-align: center;
  font-weight: 500;
}

// CSS grid used for the dates
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

// Styles for the weekday/weekend header
.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.7em;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

/* Dates */
.date-grid {
  margin-top: 0.5em;
}

/* Positioning the first day */
.date-grid button:first-child {
  grid-column: 6;
}

// Style for each day
.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: #000000;
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: #676565;
  color: #404040;
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: #676565;
  color: #404040;
}





/* This is the styles for the add to calendar box */

.add-calendar label {
  margin-top: 40px;
  margin-left: 16px;
  color: #000000;
  font-family: Arial;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.add-calendar input{
  font-family: Arial;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  text-align: left;  

.add-calendar h1 {
  float: left;
  margin-left: 8px;
  color: #000000;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
}

.add-calendar button {
  float: right;
  margin-right: 12px;
  border: none;
  font-family: Arial;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}
