.background {
    height: 800;
    width: 1400;
    background-color: #D7D5D5;
    float: left;
}

.page_title {
    float: left;
}

.page_title h1 {
    margin: 5px;
}

.cancel_button {
    width: 160px;
    height: 30px;
    background-color: #D62C2C; opacity: 80%;
    float: right;
    margin-top: 14px;
}

.cancel_button img {
    height: 20px;
    float: left;
    padding: 5px;
    transform: rotate(45deg);
}

.cancel_button p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.confirm_button {
    width: 160px;
    height: 30px;
    background-color: #2CD632; opacity: 62%;
    float: right;
    margin-left: 34px;
    margin-right: 87px;
    margin-top: 14px;
}

.confirm_button img {
    height: 20px;
    float: left;
    padding: 5px;
}

.confirm_button p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.Customer_details {
    width: 600px;
    float: left;
    margin-top: 50px;
}
.Customer_details .left_culumn {
    width: 300px;
    float: left;
}
.Customer_details .right_culumn {
    width: 300px;
    float: left;
    height: 88px;
}
.Customer_details h3 {
    float: left;
}