h1 {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.add_customer_btn {
    width: 160px;
    height: 30px;
    background-color: #2CD632; opacity: 62%;
    float: right;
    margin-right: 87px;
    margin-top: 14px;
}

.add_customer_btn img {
    height: 20px;
    float: left;
    padding: 5px;
}

.add_customer_btn p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.search_bar {
    float: left;
    margin: 10px 600px;
}

.customer_table {
    float: left;
    width: 1200px;
}