.page_title {
    float: left;
    margin: 5px;
}

.add_item_btn {
    width: 160px;
    height: 30px;
    background-color: #2CD632; opacity: 62%;
    float: right;
    margin-right: 87px;
    margin-top: 14px;
}

.add_item_btn img {
    height: 20px;
    float: left;
    padding: 5px;
}

.add_item_btn p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.search_bar {
    float: left;
    margin-top: 100px;
}

/* universal formatting for all of the buttons */
.filter_btns .all_btn, .cold_meat_btn, .veg_btn, .bread_btn, .souce_btn, .other_btn {
    float: left;
    margin: 5px 25px;
    padding: 5px 25px;
    background-color: aqua;
}

/* winging and praying... bloody nonsence */

.all_btn:hover {
    background-color: green;
}
.cold_meat_btn:hover {
    background-color: #c5c5c5;
}
.veg_btn:hover {
    background-color: #c5c5c5;
}
.bread_btn:hover {
    background-color: #c5c5c5;
}
.souce_btn:hover {
    background-color: #c5c5c5;
}
.other_btn:hover {
    background-color: #c5c5c5;
}

.main_content {
    float: left;
    margin-left: 100px;
    background-color: #d6d6d6;
}

.inventory_table {
    width: 1500px;
    height: 600px;
    float: left;
}

tr:nth-last-child(odd) {
    background-color: #c5c5c5;
}
tr:nth-last-child(even) {
    background-color: #d5d5d5;
}

tr:hover {
    background-color: #404040;
    color: #e1e1e1;
}
