.page_head {
    float: left;
}
.page_head h1 {
    margin: 5px;
}

.cancel_button {
    width: 160px;
    height: 30px;
    background-color: #D62C2C; opacity: 80%;
    float: right;
    margin-top: 14px;
}
.cancel_button img {
    height: 20px;
    float: left;
    padding: 5px;
    transform: rotate(45deg);
}
.cancel_button p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.confirm_button {
    width: 160px;
    height: 30px;
    background-color: #2CD632; opacity: 62%;
    float: right;
    margin-right: 87px;
    margin-left: 34px;
    margin-top: 14px;
}
.confirm_button img {
    height: 20px;
    float: left;
    padding: 5px;
}
.confirm_button p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.etr_customer_data {
    width: 725px;
    height: 650px;
    float: left;
    margin-top: 54px;
    padding-top: 5px;
    padding-left: 20px;
    background-color: #d7d5d5;
}
.etr_customer_data > legend:nth-child(1) {
    padding-left: 20px;
}


.invoice_details {
    width: 725px;
    height: 650px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 20px;
    background-color: #d7d5d5;
}
.invoice_details > legend:nth-child(1) {
    padding-left: 20px;
}


.price_breakdown {
    width: 1500px;
    float: left;
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 229px;
    background-color: #d7d5d5;
}
.price_breakdown > legend:nth-child(1) {
    padding-left: 20px;
}