.Page-head {
    float: left;
}
.Page-head h1 {
    margin: 5px;
}

.new-invoice-btn {
    width: 160px;
    height: 30px;
    background-color: #2CD632; opacity: 62%;
    float: right;
    margin-right: 100px;
    margin-top: 14px;
}

.new-invoice-btn img {
    height: 20px;
    float: left;
    padding: 5px;
}

.new-invoice-btn p {
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
}
.main_body_table {
    height: 540px;
    width: 1400px;
    float: left;
}

table {
    width: 1400px;
    height: 540px;
}

td:nth-child(odd) {
    background-color: #cccccc;
}

td:nth-child(even) {
    background-color: #d7d5d5;
}