.Page-head {
    float: left;
}
.Page-head h1 {
    margin: 5px;
}

.new-invoice-btn {
    width: 160px;
    height: 30px;
    background-color: #2CD632; opacity: 62%;
    float: left;
    margin-left: 1500px;
    margin-top: 14px;
}

.new-invoice-btn img {
    height: 20px;
    float: left;
    padding: 5px;
}

.new-invoice-btn p {
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
}

table {
    width: 1500px;
    float: left;
}

.main_body_table table {
    max-height: 500px;
    margin-left: 172px;
    margin-right: 1000px;
}

tr {
    height: 30px;
}

td:nth-child(odd) {
    background-color: #cccccc;
}

td:nth-child(even) {
    background-color: #d7d5d5;
}

.outbound_invoices table {
    margin-left: 172px;
}

.main_body_table h3 {
    float: left;
    margin: 15px 850px;
    padding: 0px;
}

.outbound_invoices h3 {
    float: left;
    margin: 15px 850px;
    padding: 0px;
}