.page_title {
    margin: 5px;
    float: left;
}

.colorblind_menu {
    float: left;
    margin: 100px 200px 0px;
}

.toggle_group {
    float: left;
    height: 200px;
}
.toggle_group label {
    float: left;
}
.toggle_group p {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.rg_color_blind {
    float: left;
    height: 45px;
    margin: 75px 50px;
}

.by_color_blind {
    float: left;
    height: 45px;
    margin: 75px 25px;
}
#by_clb, #rg_clb {
    margin: 5px auto;
}

#contrast_class {
    display: none;
    float: left;
    margin: 0px 50px;
}
#contrast_class > p:nth-child(2), #contrast_class > p:nth-child(4) {
    float: left;
    padding: 17px 20px;
}

.color_theme {
    float: left;
    margin: 20px 385.862px 0px;
}

label.switch:nth-child(3) {
    float: left;
    margin-top: 25px;
}