.page_title {
    margin: 5px;
    float: left;
}

.colorblind_menu {
    float: left;
    margin-top: 50px;
}

.toggle_group {
    float: left;
    height: 200px;
}
.toggle_group label {
    float: left;
}
.toggle_group p {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.rg_color_blind {
    float: left;
    height: 45px;
    margin: 75px 50px;
}

.by_color_blind {
    float: left;
    height: 45px;
    margin: 75px 25px;
}
#by_clb, #rg_clb {
    margin: 5px auto;
}