#e111_1610 { 
	width:65px;
	height:65px;
	position:absolute;
	left:134px;
	top:93px;
	background-image:url(images/ticket_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1611 { 
	width:65px;
	height:65px;
	position:absolute;
	left:235px;
	top:93px;
	background-image:url(images/invoice_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1612 { 
	width:65px;
	height:65px;
	position:absolute;
	left:336px;
	top:93px;
	background-image:url(images/inventory_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1613 { 
	transform: rotate(0.12264663576020465deg);
	width:65px;
	height:65px;
	position:absolute;
	left:436.13916015625px;
	top:92px;
	background-image:url(images/pos_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1614 { 
	width:65px;
	height:65px;
	position:absolute;
	left:538px;
	top:93px;
	background-image:url(images/caldender_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1615 { 
	width:99px;
	height:96px;
	position:absolute;
	left:620px;
	top:77px;
	background-image:url(images/reports_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1616 { 
	width:100px;
	height:90px;
	position:absolute;
	left:722px;
	top:84px;
	background-image:url(images/delivery_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1617 { 
	width:93px;
	height:79px;
	position:absolute;
	left:927px;
	top:84px;
	background-image:url(images/admin_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1618 { 
	width:65px;
	height:65px;
	position:absolute;
	left:1042px;
	top:91px;
	background-image:url(images/more_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1619 { 
	width:307px;
	height:84px;
	position:absolute;
	left:1126px;
	top:62px;
	background-image:url(images/20_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1620 { 
	width:1107px;
	height:579px;
	position:absolute;
	left:166px;
	top:-720px;
	background-image:url(images/pos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1621 { 
	width:425px;
	height:700px;
	position:absolute;
	left:979px;
	top:252px;
}
#e111_1623 { 
	width:425px;
	height:700px;
	position:absolute;
	left:0px;
	top:0px;
}
#e111_1624 { 
	background-color:rgba(255, 255, 255, 1);
	width:425px;
	height:700px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#e111_1624 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e111_1625 { 
	background-color:rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
	width:423px;
	height:30px;
	position:absolute;
	left:1px;
	top:1px;
	border-radius:6px;
}
#e111_1626 { 
	width:425px;
	height:400px;
	position:absolute;
	left:510px;
	top:252px;
}
#e111_1628 { 
	width:425px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}
#e111_1629 { 
	background-color:rgba(255, 255, 255, 1);
	width:425px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#e111_1629 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e111_1630 { 
	background-color:rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
	width:423px;
	height:31px;
	position:absolute;
	left:1px;
	top:1px;
	border-radius:6px;
}
#e111_1631 { 
	width:592px;
	height:600px;
	position:absolute;
	left:39px;
	top:252px;
}
#e111_1633 { 
	width:592px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
}
#e111_1634 { 
	background-color:rgba(255, 255, 255, 1);
	width:425px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#e111_1634 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e111_1635 { 
	background-color:rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
	width:423px;
	height:30px;
	position:absolute;
	left:1px;
	top:1px;
	border-radius:6px;
}
#e174_7 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_7 { 
	width:401px;
	height:44px;
	position:absolute;
	left:14px;
	top:425px;
}
#e174_27 { 
	color:rgba(0, 0, 0, 1);
	width:59px;
	height:16px;
	position:absolute;
	left:31px;
	top:498px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_34 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:16px;
	position:absolute;
	left:500px;
	top:247px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_3 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_3 { 
	width:259px;
	height:44px;
	position:absolute;
	left:14px;
	top:152px;
}
#e174_2 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_2 { 
	width:401px;
	height:44px;
	position:absolute;
	left:14px;
	top:62px;
}
#e174_28 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:17px;
	top:543px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_9 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_9 { 
	width:90px;
	height:34px;
	position:absolute;
	left:14px;
	top:537px;
}
#e174_6 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_6 { 
	width:401px;
	height:44px;
	position:absolute;
	left:14px;
	top:334px;
}
#e174_29 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:21px;
	position:absolute;
	left:50px;
	top:5px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_26 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:16px;
	position:absolute;
	left:13px;
	top:398px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_31 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:19px;
	position:absolute;
	left:13px;
	top:37px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_23 { 
	color:rgba(0, 0, 0, 1);
	width:91px;
	height:16px;
	position:absolute;
	left:13px;
	top:124px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_5 { 
	width:401px;
	height:44px;
	position:absolute;
	left:14px;
	top:240px;
}
#e174_24 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:16px;
	position:absolute;
	left:10px;
	top:214px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_25 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:16px;
	position:absolute;
	left:13px;
	top:309px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_8 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:11px;
	height:11px;
	position:absolute;
	left:14px;
	top:502px;
}
#e174_8 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_14 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_14 { 
	width:90px;
	height:34px;
	position:absolute;
	left:522px;
	top:560px;
}
#e174_39 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_39 { 
	width:58px;
	height:34px;
	position:absolute;
	left:1241px;
	top:324px;
}
#e174_33 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:16px;
	position:absolute;
	left:520px;
	top:396px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_10 { 
	width:131px;
	height:44px;
	position:absolute;
	left:522px;
	top:420px;
}
#e174_12 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_12 { 
	width:253px;
	height:44px;
	position:absolute;
	left:522px;
	top:330px;
}
#e174_13 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:11px;
	height:11px;
	position:absolute;
	left:522px;
	top:503px;
}
#e174_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_15 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_15 { 
	width:371px;
	height:0px;
	position:absolute;
	left:1005px;
	top:314px;
}
#e174_16 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_16 { 
	width:371px;
	height:0px;
	position:absolute;
	left:1005px;
	top:373px;
}
#e174_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e174_17 { 
	width:371px;
	height:0px;
	position:absolute;
	left:1005px;
	top:433px;
}
#e174_19 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:116px;
	height:42px;
	position:absolute;
	left:998.5px;
	top:684.5px;
}
#e174_49 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:116px;
	height:42px;
	position:absolute;
	left:1129px;
	top:684px;
}
#e174_50 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:116px;
	height:42px;
	position:absolute;
	left:1260px;
	top:683px;
}
#e174_32 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:19px;
	position:absolute;
	left:523px;
	top:305px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_35 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:525px;
	top:568px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_30 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:21px;
	position:absolute;
	left:565px;
	top:258px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_36 { 
	color:rgba(0, 0, 0, 1);
	width:242px;
	height:23px;
	position:absolute;
	left:999px;
	top:332px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_38 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:26px;
	position:absolute;
	left:1191px;
	top:330px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_41 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:20px;
	position:absolute;
	left:1240px;
	top:331px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
#e174_42 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:46px;
	position:absolute;
	left:1011px;
	top:470px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_43 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:33px;
	position:absolute;
	left:976px;
	top:528px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_44 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:46px;
	position:absolute;
	left:987px;
	top:586px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_45 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:46px;
	position:absolute;
	left:1204px;
	top:470px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_46 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:46px;
	position:absolute;
	left:1204px;
	top:579px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_47 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:46px;
	position:absolute;
	left:1204px;
	top:527px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_51 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:42px;
	position:absolute;
	left:1000px;
	top:683px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_53 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:42px;
	position:absolute;
	left:1260px;
	top:685px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_54 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:42px;
	position:absolute;
	left:1129px;
	top:684px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
#e174_55 { 
	width:10px;
	height:10px;
	position:absolute;
	left:1366px;
	top:346px;
	background-image:url(images/plus_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e174_56 { 
	transform: rotate(-45deg);
	width:10.854398727416992px;
	height:10.358872413635254px;
	position:absolute;
	left:1364px;
	top:332.6751708984375px;
	background-image:url(images/plus_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
