.new_product {
    width: 160px;
    height: 30px;
    background-color: #2CD632; opacity: 62%;
    float: right;
    margin-right: 87px;
    margin-top: 14px;
}
.new_product img {
    height: 20px;
    float: left;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 5px;
}
.new_product p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    margin: 0px;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: bold;
}