html {
    background-color: #676565;
    height: 50px;
    float: left;
}

/* customer tab css, image centering and text aligning */
.customer_tab {
    float: left;
    width: 100px;
}
.customer_tab img {
    transform: translate(50%, 20%);
}
.customer_tab p {
    text-align: center;
}

/* order tab css, alligning and centering */
.order_tab {
    float: left;
    width: 100px;
}
.order_tab img {
    transform: translate(50%, 20%);
}
.order_tab p {
    text-align: center;
}

/* invoice tab alligning and centering */
.invoice_tab {
    float: left;
    width: 100px;
}
.invoice_tab img {
    transform: translate(50%, 20%);
}
.invoice_tab p {
    text-align: center;
}

/* inventory tab alligning and centering */
.inventory_tab {
    float: left;
    width: 100px;
}
.inventory_tab img {
    transform: translate(50%, 20%);
}
.inventory_tab p {
    text-align: center;
}

/* POS tab alligning and centering */
.pos_tab {
    float: left;
    width: 100px;
}
.pos_tab img {
    transform: translate(50%, 20%);
}
.pos_tab p {
    text-align: center;
}
