.all_ribbon {
    background-color: #676565;
    height: 101px;
    float: left;
    width: 100%;
    border: none;
}
.all_ribbon p {
    font-family: Arial, Helvetica, sans-serif;
    color: #858585;
}

/* customer tab css, image centering and text aligning */
.customer_tab {
    float: left;
    width: 100px;
}
.customer_tab img {
    transform: translate(50%, 20%);
}
.customer_tab p {
    text-align: center;
}
.customer_tab:hover {
    background-color: #404040;
}

/* order tab css, alligning and centering */
.order_tab {
    float: left;
    width: 100px;
}
.order_tab img {
    transform: translate(50%, 20%);
}
.order_tab p {
    text-align: center;
}
.order_tab:hover {
    background-color: #404040;
}

/* invoice tab alligning and centering */
.invoice_tab {
    float: left;
    width: 100px;
}
.invoice_tab img {
    transform: translate(50%, 20%);
}
.invoice_tab p {
    text-align: center;
}
.invoice_tab:hover {
    background-color: #404040;
}

/* inventory tab alligning and centering */
.inventory_tab {
    float: left;
    width: 100px;
}
.inventory_tab img {
    transform: translate(50%, 20%);
}
.inventory_tab p {
    text-align: center;
}
.inventory_tab:hover {
    background-color: #404040;
}

/* POS tab alligning and centering */
.pos_tab {
    float: left;
    width: 100px;
}
.pos_tab img {
    transform: translate(50%, 20%);
}
.pos_tab p {
    text-align: center;
}
.pos_tab:hover {
    background-color: #404040;
}

/* calender tab ...... */
.calender_tab {
    float: left;
    width: 100px;
}
.calender_tab img {
    transform: translate(50%, 20%);
}
.calender_tab p {
    text-align: center;
}
.calender_tab:hover {
    background-color: #404040;
}

/* reports tab ....... */
.reports_tab {
    float: left;
    width: 100px;
}
.reports_tab img {
    transform: translate(50%, 20%);
}
.reports_tab p {
    text-align: center;
}
.reports_tab:hover {
    background-color: #404040;
}

/* delivery tab ...... */
.delivery_tab {
    float: left;
    width: 100px;
}
.delivery_tab img {
    transform: translate(50%, 20%);
}
.delivery_tab p {
    text-align: center;
}
.delivery_tab:hover {
    background-color: #404040;
}

/* product tab yada yada */
.product_tab {
    float: left;
    width: 100px;
}
.product_tab img {
    transform: translate(50%, 20%);
}
.product_tab p {
    text-align: center;
}
.product_tab:hover {
    background-color: #404040;
}

/* admin tab doom de yada boom de yada */
.admin_tab {
    float: left;
    width: 100px;
}
.admin_tab img {
    transform: translate(50%, 20%);
}
.admin_tab p {
    text-align: center;
}
.admin_tab:hover {
    background-color: #404040;
}

/* more tab boom de yada boom*/
.more_tab {
    float: left;
    width: 100px;
}
.more_tab img {
    transform: translate(50%, 20%);
}
.more_tab p {
    text-align: center;
}
.more_tab:hover {
    background-color: #404040;
}

/* Mia's sws logo whimboway whimboway whimboway */
.mia-s-sw_logo {
    float: right;
}