.all {
    height: 100px;
}

.search_bar {
    color: #858585;
    float: left;
}

.mias_ss{
    font-size: 30px;
    color: #ffffff;
    float: left;
    padding-left: 200px;
}

.dev_mode {
    float: left;
    color: #858585;
}

.account {
    float: right;
    color: #858585;
}

.help_btn {
    float: right;
    color: #858585;
}