#e111_1455 { 
	overflow:hidden;
}
#e111_1455 { 
	width:650px;
	height:550px;
	position:absolute;
}
#e111_1456 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:650px;
	height:550px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:13px;
}
#e111_1456 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e111_1457 { 
	color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:183px;
	top:10px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
#e111_1458 { 
	background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:132px;
}
#e111_1459 { 
	background-color:rgba(74.5467634499073, 182.74999290704727, 72.33853474259377, 1);
	width:320px;
	height:65px;
	position:absolute;
	left:183px;
	top:132px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
#e111_1460 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:320px;
	height:65px;
	position:absolute;
	left:183px;
	top:220px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
#e111_1461 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:320px;
	height:65px;
	position:absolute;
	left:183px;
	top:308px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
#e111_1462 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:320px;
	height:65px;
	position:absolute;
	left:183px;
	top:396px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
#e111_1463 { 
	background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:220px;
}
#e111_1464 { 
	background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:308px;
}
#e111_1465 { 
	background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:396px;
}
#e111_1466 { 
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:220px;
	background-image:url(images/invoice_logo1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1467 { 
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:134px;
	background-image:url(images/customer_logo1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1468 { 
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:308px;
	background-image:url(images/ticket_logo1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e111_1469 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:206px;
	top:417px;
}
#e111_1470 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:206px;
	top:329px;
}
#e111_1471 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:206px;
	top:241px;
}
#e111_1472 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:206px;
	top:153px;
}
#e111_1473 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:230px;
	top:138px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
#e111_1474 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:230px;
	top:403px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
#e111_1475 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:230px;
	top:227px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
#e111_1476 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:230px;
	top:314px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
#e111_1477 { 
	width:100px;
	height:100px;
	position:absolute;
	left:55px;
	top:374px;
	background-image:url(images/18_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}