body {
    background-color: #ffffff;
}
.111_1451 { 
	overflow:visible;
}
.e111_1451 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e111_1452 { 
	color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:190px;
	height:56px;
	position:absolute;
	left:21px;
	top:224px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e111_1453 { 
	background-color:rgba(255, 255, 255, 1);
	width:1339px;
	height:81px;
	position:absolute;
	left:51px;
	top:927px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.111_1453 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1454 { 
	color:rgba(0, 0, 0, 1);
	width:86px;
	height:2px;
	position:absolute;
	left:673px;
	top:1007px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:9px;
	letter-spacing:0;
}
.e111_1455 { 
	width:650px;
	height:550px;
	position:absolute;
	left:56px;
	top:358px;
}
.e111_1456 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:650px;
	height:550px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:13px;
}
.111_1456 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1457 { 
	color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:183px;
	top:10px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e111_1458 { 
	background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:132px;
}
.e111_1459 { 
	background-color:rgba(74.5467634499073, 182.74999290704727, 72.33853474259377, 1);
	width:320px;
	height:65px;
	position:absolute;
	left:183px;
	top:132px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e111_1460 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:320px;
	height:65px;
	position:absolute;
	left:183px;
	top:220px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e111_1461 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:320px;
	height:65px;
	position:absolute;
	left:183px;
	top:308px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e111_1462 { 
	background-color:rgba(75.00000312924385, 183.00000429153442, 72.00000330805779, 1);
	width:320px;
	height:65px;
	position:absolute;
	left:183px;
	top:396px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e111_1463 { 
	background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:220px;
}
.e111_1464 { 
	background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:308px;
}
.e111_1465 { 
	background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:74px;
	top:396px;
}
.e111_1469 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:206px;
	top:417px;
}
.e111_1470 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:206px;
	top:329px;
}
.e111_1471 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:206px;
	top:241px;
}
.e111_1472 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:206px;
	top:153px;
}
.e111_1473 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:230px;
	top:138px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e111_1474 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:230px;
	top:403px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e111_1475 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:230px;
	top:227px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e111_1476 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:52px;
	position:absolute;
	left:230px;
	top:314px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e111_1478 { 
	width:650px;
	height:165px;
	position:absolute;
	left:741px;
	top:359px;
}
.e111_1479 { 
	background-color:rgba(255, 255, 255, 1);
	width:650px;
	height:165px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.111_1479 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1480 { 
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:648px;
	height:30px;
	position:absolute;
	left:1px;
	top:1px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e111_1481 { 
	background-color:rgba(224.18749898672104, 223.25338751077652, 223.25338751077652, 1);
	width:648px;
	height:30px;
	position:absolute;
	left:1px;
	top:31px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e111_1483 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:131px;
	height:18px;
	position:absolute;
	left:16px;
	top:6px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1484 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:131px;
	height:18px;
	position:absolute;
	left:24px;
	top:36px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1485 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:176px;
	height:48px;
	position:absolute;
	left:1px;
	top:66px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1486 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:176px;
	height:48px;
	position:absolute;
	left:1px;
	top:116px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1487 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:131px;
	height:18px;
	position:absolute;
	left:301px;
	top:36px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1488 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:131px;
	height:18px;
	position:absolute;
	left:425px;
	top:36px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1489 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:131px;
	height:17px;
	position:absolute;
	left:164px;
	top:37px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1491 { 
	transform: rotate(90deg);
	width:133px;
	height:0px;
	position:absolute;
	left:177px;
	top:31px;
}
.111_1491 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1492 { 
	transform: rotate(90deg);
	width:133px;
	height:0px;
	position:absolute;
	left:280px;
	top:31px;
}
.111_1492 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1493 { 
	transform: rotate(90deg);
	width:134px;
	height:0px;
	position:absolute;
	left:439px;
	top:30px;
}
.111_1493 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1494 { 
	transform: rotate(90deg);
	width:134px;
	height:0px;
	position:absolute;
	left:534px;
	top:30px;
}
.111_1494 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1495 { 
	transform: rotate(0.08760815791159117deg);
	width:649.0007934570312px;
	height:0px;
	position:absolute;
	left:1px;
	top:111px;
}
.111_1495 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1496 { 
	transform: rotate(0.08760815791159117deg);
	width:649.0007934570312px;
	height:0px;
	position:absolute;
	left:1px;
	top:31px;
}
.111_1496 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1497 { 
	width:650px;
	height:165px;
	position:absolute;
	left:740px;
	top:550px;
}
.e111_1498 { 
	background-color:rgba(255, 255, 255, 1);
	width:650px;
	height:165px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.111_1498 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1499 { 
	transform: rotate(0.08760815791159117deg);
	width:649.0007934570312px;
	height:0px;
	position:absolute;
	left:0px;
	top:45px;
}
.111_1499 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.111_1500 { 
	border:1px solid rgba(133.87499392032623, 133.87499392032623, 133.87499392032623, 1);
}
.e111_1500 { 
	width:617px;
	height:0px;
	position:absolute;
	left:14px;
	top:78px;
}
.111_1501 { 
	border:1px solid rgba(133.87499392032623, 133.87499392032623, 133.87499392032623, 1);
}
.e111_1501 { 
	width:617px;
	height:0px;
	position:absolute;
	left:14px;
	top:113px;
}
.111_1502 { 
	border:1px solid rgba(133.87499392032623, 133.87499392032623, 133.87499392032623, 1);
}
.e111_1502 { 
	width:617px;
	height:0px;
	position:absolute;
	left:14px;
	top:148px;
}
.e111_1503 { 
	transform: rotate(0.08760815791159117deg);
	width:649.0007934570312px;
	height:0px;
	position:absolute;
	left:0px;
	top:45px;
}
.111_1503 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1504 { 
	color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:180px;
	height:38px;
	position:absolute;
	left:6px;
	top:3px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e111_1505 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:181px;
	height:20px;
	position:absolute;
	left:14px;
	top:52px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1506 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:181px;
	height:20px;
	position:absolute;
	left:444px;
	top:52px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1507 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:181px;
	height:20px;
	position:absolute;
	left:444px;
	top:87px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1508 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:181px;
	height:20px;
	position:absolute;
	left:444px;
	top:120px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1509 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:181px;
	height:20px;
	position:absolute;
	left:14px;
	top:87px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1510 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:181px;
	height:20px;
	position:absolute;
	left:14px;
	top:121px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1511 { 
	width:650px;
	height:165px;
	position:absolute;
	left:740px;
	top:743px;
}
.e111_1512 { 
	background-color:rgba(255, 255, 255, 1);
	width:650px;
	height:165px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.111_1512 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e111_1513 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:170px;
	height:19px;
	position:absolute;
	left:35px;
	top:36px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1514 { 
	color:rgba(121.12500607967377, 190.74000656604767, 255, 1);
	width:170px;
	height:19px;
	position:absolute;
	left:237px;
	top:83px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1515 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:176px;
	height:48px;
	position:absolute;
	left:28px;
	top:73px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e111_1516 { 
	color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:180px;
	height:38px;
	position:absolute;
	left:237px;
	top:0px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
